body {
  font-family: 'Poppins', sans-serif;
  margin: 0%;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

.orange-color {
  color: orange;
}

.flexible-container {
  display: flex;
  margin-bottom: 100px;
}

.half-width {
  width: 50%;
  padding: 2%;
}

.half-width img {
  width: 70%;
}

.link-button {
  text-decoration: none;
  background-color: rgb(240, 65, 65);
  padding: 10px 40px;
  border-radius: 5px;
  color: white;
  font-weight: 700;

}

.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}

.dream-big {
  display: flex;
}

.half img {
  width: 90%;
}

.half {
  width: 50%;
  padding-right: 50px;
}

.dream-big {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

.experience-item {
  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 10px;
  padding-left: 20px;
  box-shadow: 10px 10px 40px gray;

}

.experiences-area {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}

#Full-stack-web {
  border-left: 7px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}

#baby-web {
  border-left: 7px solid;
  border-image: linear-gradient(tomato, purple);
  border-image-slice: 1;
}

footer p {
  text-align: center;
}